.env

# compiled output
Backend/dist
Backend/node_modules
Frontend/node_modules
Backend/package-lock.json
Frontend/package-lock.json


# postgres storage
/pgadmin-data
/pgdata

# migration folder
./Backend/src/migration/*.ts

# keep the migration folder
!./src/migration/.gitkeep

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json



# temp dataBase
./Frontend/db.json