.heading {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;

}

#input[type="file"] {
	display: none;
}

.label {
	width: 100%;
}

.img {
	background-size: cover;
	width: 130px;
	height: 130px;
	object-fit: fill;
	border-radius: 130px;
	opacity: 1;
	transition: opacity 0.5s;
	flex-shrink: 0;
}

.img:hover {
	opacity: 0.5;
}

.image-upload {
	position: absolute;
	top: 65px;
	left: 49%;
	outline: none;
	color: transparent;
	box-sizing: border-box;
	color: white;
	cursor: pointer;
	opacity: 0;
	transition: opacity 0.5s;
}

.image-upload:hover {
	opacity: 1;
}