.boxCard {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
	width: 90%;
	height: 108px;
	background:
		linear-gradient(black, black) padding-box,
		linear-gradient(to right, #C0F4FE, #E11515) border-box;
	border-radius: 24px;
	border: 2px solid transparent;
	gap: 60px;
}

.imgCard {
	background-size: cover;
	width: 40px;
	height: 40px;
	object-fit: fill;
	border-radius: 130px;
}

.scoreStyle {
	color: white;
	font-weight: bold;
	font-family: 'Open Sans';
	font-size: 16px;
}

.nameStyle {
	color: white;
	font-weight: bold;
	font-family: 'Open Sans';
	font-size: 12px;
	text-align: center;
}

.glowingText {
	animation: glowanimate 5s linear infinite;
}

@keyframes glowanimate {

	0%,
	18%,
	20%,
	50.1%,
	60%,
	65.1%,
	80%,
	90.1%,
	92% {
		color: #41a2bc;
		text-shadow: none;
	}

	18.1%,
	20.1%,
	30%,
	50%,
	60.1%,
	65%,
	80.1%,
	90%,
	92.1%,
	100% {
		color: #fff;
		text-shadow: 0 0 10px #03bcf4,
			0 0 20px #03bcF4,
			0 0 40px #03bcF4,
			0 0 80px #03bcF4,
			0 0 160px #03bcF4;
	}
}