.notifications-list-wrapper {
    position: absolute;
    display: block;
    width: calc(25% + 12px);
    color: white;
    height: 540px;
    top: 154px;
    padding: 20px 0;
    overflow: scroll;
    background: linear-gradient(black, black) padding-box, linear-gradient(to right, #C0F4FE, #E11515) border-box;
    border-radius: 25px 0 0 25px;
    border: 4px solid transparent;
} 

.notifications-title {
    font-family: 'Tourney', cursive;
    text-align: center;
    margin-bottom: 20px;
}

.notifications-open {
    right: -5px;
    transition: right 600ms;
}

.notifications-close {
    transition: right 600ms;
    right: calc(-25% - 12px);
}



#app {
    position: relative;
    overflow: hidden;
}

.notifications-opener {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 94px;
    right: 20px;
}

.notifications-indicator {
    position: absolute;
    right: 15px;
    color: #C0F4FE;
    background: #E11515;
    top: 115px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    line-height: 18px;
}