#friend_buttons {
	position: relative;
	width: 84px;
	height: 40px;
	margin: 7px 10px 7px 6px;
}

#friend_buttons > button {
	padding: 0;
	border: none;
}

#friendPlay_button {
	position: absolute;
	background-image: url('../asset/PlayIcon_blue.svg');
	background-repeat: no-repeat;
	background-position: 50%;
	height: 100%;
	min-width: 48%;
	left: 0%;
	bottom: 2%;
}

#friendPlay_button:hover {
	background-image: url('../asset/PlayIcon_red.svg');
}

#friendChat_button {
	position: absolute;
	background-image: url('../asset/ChatIcon_blue.svg');
	background-repeat: no-repeat;
	background-position: 50%;
	height: 90%;
	min-width: 43%;
	left: 48%;
	right: 2%;
	bottom: 2%;
	/*border: 0.1px solid red;*/
}

#friendChat_button:hover {
	background-image: url('../asset/ChatIcon_red.svg');
}

#friendColumn_button {
	position: absolute;
	background-image: url('../asset/ColumnIcon_blue.svg');
	background-repeat: no-repeat;
	background-position: 50%;
	height: 50%;
	width: 6%;
	top: 10px;
	right: 0%;
}

#friendColumn_button:hover {
	background-image: url('../asset/ColumnIcon_red.svg');
}

#profileBlocked {
	position: absolute;
	width: 46px;
	top: 11px;
	right: 18px;
	font-size: 12px;
	text-align: center;
	font-weight: normal;
}