.containerStyle {
	margin-top: 26px;
	height: 20px;
	width: 73%;
	background-color: #e0e0de;
	border-radius: 50px;
	margin: 50px;
}

.fillerStyle {
	height: 100%;
	background-color: #0066FF;
	border-radius: inherit;
	text-align: right;
}

.labelStyle {
	padding: 5;
	color: white;
	font-weight: bold;
	font-family: 'Open Sans';
	font-size: 16px;
}