.boxPseudo {
	display: flex;
	flex-direction: row;
	margin-top: 5px;
	gap: 1vw;
}

.labelPseudo {
	padding: 5;
	color: white;
	font-weight: bold;
	font-size: 16px;
}

.editPseudo {
	height: 24px;
	width: 24px;
	background-size: 24px;
	background-position: center;
	border: transparent;
	border-radius: 130px;
}

.writePseudo {
	border: 3px solid #DBF9FF;
	border-radius: 100vh;
	width: 200px;
	height: 30px;
	padding: 0 15px;
	font-size: 14px;
	color: #DBF9FF;
	letter-spacing: 1px;
	box-shadow: 0px 0px 10px #dbf9ff, 0px 0px 10px #dbf9ff inset;
}


.error {
	transition: border 100ms, box-shadow 100ms;
	box-shadow: 0px 0px 10px #e41b1b, 0px 0px 10px #e41b1b inset !important;
	border: 3px solid #e41b1b !important;
	position: relative;
	animation: shake .1s linear;
	animation-iteration-count: 3;
}

@keyframes shake {
	0% {
		left: -5px;
	}

	100% {
		right: -5px;
	}
}