<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <title>Nestjs SocketIO</title>
    <link rel="stylesheet" href="./style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.socket.io/4.3.2/socket.io.min.js" integrity="sha384-KAZ4DtjNhLChOB/hxXuKqhMLYvx3b5MlT55xPEiNmREKRzeEm+RVPlTnAn0ajQNs" crossorigin="anonymous"></script>
</head>
<body>
    <div id="app" >
            <div class="row">
                <div class="col-md-6 offset-md-3 col-sm-12">
                    <h1 class="text-center">{{ title }}</h1>
                    <br>
                    <div id="status"></div>
                    <div id="chat">
                        <input type="text" v-model="author" id="author" class="form-control" placeholder="Enter id...">
                        <br>
                        <div class="card">
                            <div id="messages" class="card-block">
                                <ul>
                                    <li v-for="message of messages">{{ message.user.username }}: {{ message.content }}</li>
                                </ul>
                            </div>
                        </div>
                        <br>
                        <textarea id="textarea" class="form-control" v-model="content" placeholder="Enter message..."></textarea>
                        <br>
                        <button id="send" class="btn" @click.prevent="sendMessage">Send</button>
                    </div>

                </div>
            </div>
            <div id="invites" class="card-block">
                <ul>
                    <li v-for="(invite, index) in invites">invite #{{ index }} : {{ invite.user1.username }} challenged you !</li>
                </ul>
                <input type="text" v-model="invite_choosen" placeholder="invite # ?">
                <button @click.prevent="acceptChallenge">Accept</button>
            </div>
        <div id="match">
            <h1>Match</h1>
            <button @click.prevent="findMatch">Find Match</button>
            <input type="text" v-model="opponent_id">
            <button @click.prevent="challengeUser">Challenge</button>

            <ul>
                <li >{{ match.id }} : {{ match.y1 }}, {{ match.y2 }}, {{ match.bx }}, {{ match.by }}, {{ match.bvx }}, {{ match.bvy }}</li>
            </ul>
                <!-- <div id="game_wrapper" > -->
                    <button id="send" class="btn" @click.prevent="connectToMatch">Connect</button>
                <button id="send" class="btn" @click.prevent="sendUp">Up</button>
                <button id="send" class="btn" @click.prevent="sendDown">Down</button>
                <!-- </div> -->


        </div>
    </div>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.1/p5.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.1/addons/p5.sound.js"></script>
    <script src="client.js"></script>
    <script src="main.js"></script>
<script>
	let cookies = document.cookie;
	console.log(cookies);
</script>

</body>
</html>
