#bloc {
	width: 1300px;
	margin: auto
}

.boxNav {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-end;
	gap: 20px;
	width: 100%;
	height: 94px;
	border: 1px solid blue
}

.titleNav {
	width: 247px;
	height: 28px;
	margin-right: auto;
}

.navButton {
	width: 115px;
	height: 48px;
}

.navButton::before {
	position: absolute;
	content: "";
	z-index: -1;
	opacity: 0;
	width: 115px;
	height: 48px;
	left: -3px;
	top: -3px;
	background-color: #11ffee00;
	font-family: 'Open Sans';
	font-size: 28px;
	color: white;
	border: solid 3px transparent;
	background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #DBF9FF, #FF0777);
	background-origin: border-box;
	background-clip: content-box, border-box;
	box-shadow: 2px 1000px 1px black inset;
	transition: opacity 1s, box-shadow 2s;
}

.navButton:hover::before {
	opacity: 1;
	box-shadow: 2px 1000px 1px transparent inset;
}

section {
	border: 1px solid rgb(111, 226, 17);
	display: flex;
	justify-content: space-between;
	margin-top: 90px;
	width: 100%;
	height: 500px;
	padding-bottom: -50px;
	margin-bottom: 20px;
}

.gameArea {
	position: relative;
	width: 65%;
	height: 90%;
	background:
		linear-gradient(black, black) padding-box,
		linear-gradient(to right, #C0F4FE, #E11515) border-box;
	border-radius: 24px;
	border: 4px solid transparent;
}

.chatArea{
	width: 30%;
	height: 90%;
	border: 4px solid #E11515;
	border-radius: 25px;
}