#bloc {
	width: 1300px;
	margin: auto
}

.boxNav {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-end;
	gap: 20px;
	width: 100%;
	height: 94px;
}

.titleNav {
	width: 247px;
	height: 28px;
	margin-right: auto;
}

.navButton {
	width: 115px;
	height: 48px;
}

.navButton::before {
	position: absolute;
	content: "";
	z-index: -1;
	opacity: 0;
	width: 115px;
	height: 48px;
	left: -3px;
	top: -3px;
	background-color: #11ffee00;
	font-family: 'Open Sans';
	font-size: 28px;
	color: white;
	border: solid 3px transparent;
	background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #DBF9FF, #FF0777);
	background-origin: border-box;
	background-clip: content-box, border-box;
	box-shadow: 2px 1000px 1px black inset;
	transition: opacity 1s, box-shadow 2s;
}

.navButton:hover::before {
	opacity: 1;
	box-shadow: 2px 1000px 1px transparent inset;
}

#gameAndChatSection {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 0px;
	width: 100%;
	height: 656px;
}

.gameArea {
	width: 72%;
	height: 100%;
	background:
		linear-gradient(black, black) padding-box,
		linear-gradient(to right, #C0F4FE, #E11515) border-box;
	border-radius: 25px;
	border: 4px solid transparent;
	margin-right: 26px;
}

.gameAreaSeparation {
	border: 1px solid rgb(255, 255, 255);
	width: 0;
	height : 100%;
	margin-left: 50%;
}

.chatArea{
	display: flex;
	flex-direction: column;
	width: 341px;
	height: 100%;
	box-sizing: border-box;
	border: 4px solid #E11515;
	border-radius: 25px;
	padding: 0;
}

.searchAndAdd {
	display: flex;
	flex-direction: row;
	margin-top: 16px;
	margin-left: 18px;
	height: 54px;
	width: 297px;
	border: none;
}

#searchBar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border: 3px solid #C0F4FE;
	border-radius: 20px;
	margin-right: 16px;
	width: 227px;
}

#searchIcon {
	width: 15%;
	margin-left: 20px;
	margin-right: 10px;
	margin-top: 0px;
}

input {
	border: none;
	background-color: transparent;
	outline: none;
	cursor:text;
}

#searchFriend {
	width: 100%;
	margin-right: 17px;
	color: #C0F4FE;
	font-size: 22px;
}

::placeholder
{
	color: #C0F4FE;
}

button {
	border: none;
	background-color: transparent;
	cursor: pointer;
}

#addGroup {
	border: 3px solid #C0F4FE;
	width: 54px;
	height: 54px;
	border-radius: 100%;
	background-image: url('../asset/addGroupIcon_blue.svg');
	background-repeat: no-repeat;
	background-position: 50%;
}

#addGroup:hover {
	border-color: #E11515;
	background-image: url('../asset/AddGroupIcon_red.svg');
	background-repeat: no-repeat;
	background-position: 50%;
}

.usersList {
	width: 297px;
	margin-top: 16px;
	margin-right: 18px;
	margin-left: 18px;
	overflow-y: scroll;
	overflow-x: hidden;
	border: none;
}

.usersList::-webkit-scrollbar {
	width: 0px;
}

.user {
	display: flex;
	flex-direction: row;
	align-items: center;
	border: 2px solid #C0F4FE;
	color: #C0F4FE;
	border-radius: 22px;
	height: 54px;
	width: 297px;
	margin: 14px 0;
}

.user:hover{
	border: 2px solid #E11515;
}

#userAvatarIcon{
	position: relative;
	width: 40px;
	height: 40px;
	margin-left: 18px;
}

.userAvatar {
	position: relative;
	width: 40px;
	height: 40px;
}

.userStatutIcon {
	position: absolute;
	top: 28px;
	left: 28px;
	width: 12px;
	height: 12px;
	z-index: 1;
}

#username {
	font-size: 14px;
	font-weight: normal;
	min-width: 123px;
	white-space: nowrap;
	overflow-x: hidden;
	margin-right: 9px;
	margin-left: 10px;
}

#friend_buttons {
	display: flex;
	flex-direction: row;
	width: 83px;
	height: 40px;
	margin-right: 11px;
	margin-bottom: 3px;
	margin-top: 5px;
	margin-bottom: 9px;
	border: none;
}

#friend_buttons > button {
	padding: 0;
	border: none;
}

#friendPlayButton {
	background-image: url('../asset/PlayIcon_blue.svg');
	background-repeat: no-repeat;
	background-position: 50%;
	height: 40px;
	width: 40px;
	border: none;
	/*border: 0.1px solid red;*/
}

#friendPlayButton:hover {
	background-image: url('../asset/PlayIcon_red.svg');
}

#friendChatButton {
	background-image: url('../asset/ChatIcon_blue.svg');
	background-repeat: no-repeat;
	background-position: 50%;
	height: 36px;
	width: 36px;
	margin-top: 4px;
	/*border: 0.1px solid red;*/
}

#friendChatButton:hover {
	background-image: url('../asset/ChatIcon_red.svg');
}

#friendColumnButton {
	background-image: url('../asset/ColumnIcon_blue.svg');
	background-repeat: no-repeat;
	background-position: 50%;
	height: 20px;
	width: 5px;
	margin-right: 0px;
	margin-left: 2px;
	margin-top: 12px;
	margin-bottom: 8px;
	/*border: 0.1px solid red;*/
}

#friendColumnButton:hover {
	background-image: url('../asset/ColumnIcon_red.svg');
}

#unfriend_button {
	position: relative;
	width: 208px;
	height: 40px;
	border: 1px solid #E11515;
	border-radius: 20px;
	margin-left: 10px;
	margin-right: 2px;
	margin-top: 7px;
	margin-bottom: 7px;
}

#unfriend_button p {
	position: absolute;
	color: #C0F4FE;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  	margin: 0;
	border: none;
}

#unfriend_button:hover {
	background-color: #E11515;
}

#unfriendColumnButton {
	background-image: url('../asset/ColumnIcon_blue.svg');
	background-repeat: no-repeat;
	background-position: 50%;
	height: 20px;
	width: 5px;
	margin-top: 17px;
	margin-bottom: 17px;
	margin-right: 10px;
	padding: 0px;
	border: none;
}

#unfriendColumnButton:hover {
	background-image: url('../asset/ColumnIcon_red.svg');
}

#friendRequest_buttons {
	display: flex;
	flex-direction: row;
	width: 75px;
	height: 36px;
	margin-right: 18px;
	margin-top: 9px;
	margin-bottom: 9px;
}

#AcceptFriendButton{
	background-image: url('../asset/AcceptyFriendIcon_blue.svg');
	background-repeat: no-repeat;
	background-position: 50%;
	height: 36px;
	width: 36px;
	margin-right: 3px;
	border: none;
}

#AcceptFriendButton:hover{
	background-image: url('../asset/AcceptFriendIcon_red.svg');
}

#DeclineFriendButton{
	background-image: url('../asset/DeclineFriendIcon_blue.svg');
	background-repeat: no-repeat;
	background-position: 50%;
	height: 36px;
	width: 36px;
	border: none;
}

#DeclineFriendButton:hover{
	background-image: url('../asset/DeclineFriendIcon_red.svg');
}

#SendFriendRequest_buttons {
	width: 36px;
	height: 36px;
	margin-top: 9px;
	margin-left: 39px;
	margin-right: 20px;
	margin-bottom: 9px;
	border: none;
}

#AddFriendButton{
	background-image: url('../asset/AddFriendIcon_blue.svg');
	background-repeat: no-repeat;
	background-position: 50%;
	height: 36px;
	width: 36px;
}

#AddFriendButton:hover{
	background-image: url('../asset/AddFriendIcon_red.svg');
}

#invitation_sent {
	width: 83px;
	height: 16px;
	margin-top: 18px;
	margin-bottom: 16px;
	font-size: 12px;
	font-weight: normal;
	text-align: center;
}
