.login-wrapper {
    width: 300px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-wrapper > div {
    display: flex;
    flex-direction: column;
}

.login-title {
    color: #DBF9FF;
}

#login-container {
    /* width: 300px; */
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



#input {
    width: 160px;
    height: 48px;
    /* margin: 10px 15px; */
    padding: 5px 25px;
    border: 3px solid #DBF9FF;
    border-radius: 100vh;
    font-size: 20px;
    letter-spacing: 5px;
    color: #DBF9FF;
    box-shadow: 0px 0px 10px #dbf9ff, 0px 0px 10px #dbf9ff inset;

} 