#bloc {
	width: 1300px;
	margin: auto
}

.boxNav {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-end;
	gap: 20px;
	width: 100%;
	height: 94px;
}

.titleNav {
	width: 247px;
	height: 28px;
	margin-right: auto;
}

.navButton {
	width: 115px;
	height: 48px;
}

.navButton::before {
	position: absolute;
	content: "";
	z-index: -1;
	opacity: 0;
	width: 115px;
	height: 48px;
	left: -3px;
	top: -3px;
	background-color: #11ffee00;
	font-family: 'Open Sans';
	font-size: 28px;
	color: white;
	border: solid 3px transparent;
	background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #DBF9FF, #FF0777);
	background-origin: border-box;
	background-clip: content-box, border-box;
	box-shadow: 2px 1000px 1px black inset;
	transition: opacity 1s, box-shadow 2s;
}

.navButton:hover::before {
	opacity: 1;
	box-shadow: 2px 1000px 1px transparent inset;
}

#gameAndChatSection {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 60px;
	width: 100%;
	height: 540px;
}

.gameArea {
	width: 74%;
	height: 100%;
	background:
		linear-gradient(black, black) padding-box,
		linear-gradient(to right, #C0F4FE, #E11515) border-box;
	border-radius: 25px;
	border: 4px solid transparent;

}

.gameAreaSeparation {
	border: 1px solid rgb(255, 255, 255);
	width: 0;
	height : 100%;
	margin-left: 50%;
}

.chatArea{
	display: flex;
	flex-direction: column;
	width: 25%;
	height: 100%;
	border: 4px solid #E11515;
	border-radius: 25px;
}

.searchAndAdd {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 20px;
	height: 54px
}

#searchBar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border: 3px solid #C0F4FE;
	border-radius: 20px;
	margin-left: 22px;
	width: 65%;
}

#searchIcon {
	width: 15%;
	margin-left: 20px;
	margin-top: 0px;
}

input {
	border: none;
	background-color: transparent;
	outline: none;
	cursor:text;
}

#searchFriend {
	width: 58%;
	margin-right: 17px;
	color: #C0F4FE;
	font-size: 14px;
}

::placeholder
{
	color: #C0F4FE;
}

button {
	background-color: transparent;
	cursor: pointer;
}

#addGroup {
	border: 3px solid #C0F4FE;
	width: 54px;
	height: 100%;
	border-radius: 100%;
	margin-right: 22px;
	background-image: url('../asset/addGroupIcon_blue.svg');
	background-repeat: no-repeat;
	background-position: 50%;
}

#addGroup:hover {
	border-color: #E11515;
	background-image: url('../asset/AddGroupIcon_red.svg');
	background-repeat: no-repeat;
	background-position: 50%;
	
}
