#bloc {
	margin: 0 40px;
}

.boxNav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* gap: 20px; */
	width: 100%;
	height: 94px;
}

.titleNav {
	width: 247px;
	height: 30px;
	margin-right: auto;
	cursor: pointer;
}

.navButton {
	font-family: 'Tourney', cursive;
	font-weight: 200;
	width: 130px;
	height: 48px;
	text-align: center;
}

.navButton::before {
	position: absolute;
	content: "";
	z-index: -1;
	opacity: 0;
	width: 130px;
	height: 48px;
	left: -3px;
	top: -3px;
	background-color: #11ffee00;
	font-size: 24px;
	color: white;
	border: solid 3px transparent;
	background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #3772FF, #E11515);
	background-origin: border-box;
	background-clip: content-box, border-box;
	box-shadow: 2px 1000px 1px black inset;
	transition: opacity 500ms, box-shadow 500ms;
}

.navButton:hover::before {
	opacity: 1;
	box-shadow: 2px 1000px 1px transparent inset;
}

#gameAndChatSection {
	display: flex;
	flex-direction: row;
	margin-top: 0px;
	width: 100%;
	margin-top: 30px;
	height: calc(100vh - 308px);
}

.gameArea {
	width: 70%;
	height: 0;
	padding-bottom: 40% !important;
	background:
		linear-gradient(black, black) padding-box,
		linear-gradient(to right, #3772FF, #E11515) border-box;
	border-radius: 25px;
	border: 4px solid transparent;
	margin-right: 26px;
}

.p5canvas {
	border-radius: 25px;
}

.gameAreaSeparation {
	border: 1px solid rgb(255, 255, 255);
	width: 0;
	height: 100%;
	margin-left: 50%;
}

.chatArea {
	display: flex;
	flex-direction: column;
	width: 29%;
	box-sizing: border-box;
	border: 4px solid #E11515;
	border-radius: 25px;
	padding: 0;
}

.searchAndAdd {
	display: flex;
	margin: 0px 18px 18px 18px;
	height: 54px;
	border: none;
}

#searchBar {
	display: flex;
	justify-content: space-between;
	border: 3px solid #3772FF;
	border-radius: 20px;
	margin-right: 16px;
	flex-grow: 1;
}

#searchIcon {
	width: 28px;
	margin-left: 20px;
	margin-right: 10px;
	margin-top: 0px;
}

input {
	border: none;
	background-color: transparent;
	outline: none;
	cursor: text;
}

#searchFriend {
	width: 100%;
	margin-right: 17px;
	color: #3772FF;
	font-size: 22px;
}

::placeholder {
	color: #3772FF;
}

button {
	border: none;
	background-color: transparent;
	cursor: pointer;
}

#addGroup {
	border: 3px solid #3772FF;
	width: 54px;
	height: 54px;
	border-radius: 100%;
	background-image: url('../asset/addGroupIcon_blue.svg');
	background-repeat: no-repeat;
	background-position: 50%;
}

#addGroup:hover {
	border-color: #E11515;
	background-image: url('../asset/AddGroupIcon_red.svg');
	background-repeat: no-repeat;
	background-position: 50%;
}

.usersList {
	margin: 0 18px;
	overflow-y: scroll;
	overflow-x: hidden;
	border: none;
}

.usersList::-webkit-scrollbar {
	width: 0px;
}

.user {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	border: 2px solid #3772FF;
	color: #3772FF;
	border-radius: 20px;
	height: 54px;
	margin: 14px 0;
}

.user:hover {
	border: 2px solid #E11515;
}

.flex-v-centered {
	display: flex;
	align-items: center;
}

#userAvatarIcon {
	position: relative;
	width: 40px;
	height: 40px;
	margin-left: 18px;
}

#userAvatarIcon:hover {
	cursor: pointer;
}

.userAvatar {
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 100%;
}

.userStatusIcon {
	position: absolute;
	top: 28px;
	left: 28px;
	width: 12px;
	height: 12px;
	z-index: 1;
}

#username {
	font-size: 15px;
	font-weight: normal;
	min-width: 120px;
	white-space: nowrap;
	overflow-x: hidden;
	margin-left: 15px;
}

#friend_buttons {
	position: relative;
	width: 84px;
	height: 40px;
	margin: 7px 10px 7px 6px;
}

#friend_buttons>button {
	padding: 0;
	border: none;
}

#friendPlay_button {
	position: absolute;
	background-image: url('../asset/PlayIcon_blue.svg');
	background-repeat: no-repeat;
	background-position: 50%;
	height: 40px;
	width: 40px;
	left: 0px;
	bottom: 2px;
}

#friendPlay_button:hover {
	background-image: url('../asset/PlayIcon_red.svg');
}

#friendChat_button {
	position: absolute;
	background-image: url('../asset/ChatIcon_blue.svg');
	background-repeat: no-repeat;
	background-position: 50%;
	height: 36px;
	width: 36px;
	left: 40px;
	right: 2px;
	bottom: 2px;
	/*border: 0.1px solid red;*/
}

#friendChat_button:hover {
	background-image: url('../asset/ChatIcon_red.svg');
}

#friendColumn_button {
	position: absolute;
	background-image: url('../asset/ColumnIcon_blue.svg');
	background-repeat: no-repeat;
	background-position: 50%;
	height: 20px;
	width: 5px;
	top: 10px;
	right: 0px;
}

#friendColumn_button:hover {
	background-image: url('../asset/ColumnIcon_red.svg');
}

#profileBlocked {
	position: absolute;
	width: 46px;
	top: 11px;
	right: 18px;
	font-size: 12px;
	text-align: center;
	font-weight: normal;
}

.optionButtons {
	position: relative;
	width: 190px;
	height: 40px;
	border-radius: 20px;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 7px;
	margin-bottom: 7px;
}

#unfriend_button {
	position: absolute;
	left: 0px;
	margin-right: 10px;
	width: 90px;
	height: 100%;
	border: 1px solid #E11515;
	box-sizing: border-box;
	border-radius: 20px;
}

#unfriend_button p {
	position: absolute;
	color: #3772FF;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	border: none;
}

#unfriend_button:hover {
	background-color: #E11515;
}

#block_buttons {
	position: absolute;
	right: 0px;
	margin-left: 10px;
	width: 90px;
	height: 100%;
	border: 1px solid #E11515;
	box-sizing: border-box;
	border-radius: 20px;
	color: #3772FF;
}

#block_buttons:hover {
	background-color: #E11515;
}

#unblock_buttons {
	position: absolute;
	right: 0px;
	margin-left: 10px;
	width: 90px;
	height: 100%;
	border: 1px solid #E11515;
	background-color: #E11515;
	box-sizing: border-box;
	border-radius: 20px;
	color: #3772FF;
}

#unfriendColumnButton {
	background-image: url('../asset/ColumnIcon_blue.svg');
	background-repeat: no-repeat;
	background-position: 50%;
	height: 20px;
	width: 5px;
	margin-top: 17px;
	margin-bottom: 17px;
	margin-right: 10px;
	padding: 0px;
	border: none;
}

#unfriendColumnButton:hover {
	background-image: url('../asset/ColumnIcon_red.svg');
}

#friendRequest_buttons {
	display: flex;
	flex-direction: row;
	width: 75px;
	height: 36px;
	margin-right: 18px;
	margin-left: 7px;
	margin-top: 9px;
	margin-bottom: 9px;
}

#AcceptFriendButton {
	background-image: url('../asset/AcceptyFriendIcon_blue.svg');
	background-repeat: no-repeat;
	background-position: 50%;
	height: 36px;
	width: 36px;
	margin-right: 3px;
	border: none;
}

#AcceptFriendButton:hover {
	background-image: url('../asset/AcceptFriendIcon_red.svg');
}

#DeclineFriendButton {
	background-image: url('../asset/DeclineFriendIcon_blue.svg');
	background-repeat: no-repeat;
	background-position: 50%;
	height: 36px;
	width: 36px;
	border: none;
}

#DeclineFriendButton:hover {
	background-image: url('../asset/DeclineFriendIcon_red.svg');
}

#SendFriendRequest_buttons {
	width: 36px;
	height: 36px;
	margin-top: 9px;
	margin-left: 46px;
	margin-right: 18px;
	margin-bottom: 9px;
	background-image: url('../asset/AddFriendIcon_blue.svg');
	background-repeat: no-repeat;
	background-position: 50%;
}

#AddFriendButton:hover {
	background-image: url('../asset/AddFriendIcon_red.svg');
}

#invitation_sent {
	margin-top: 17px;
	margin-bottom: 17px;
	font-size: 12px;
	font-weight: normal;
	text-align: center;
}

#chatTop {
	display: flex;
	align-items: flex-start;
	width: 100%;
	height: 54px;
}

#chatCloseButton {
	background-image: url('../asset/CloseChatWindow.svg');
	background-repeat: no-repeat;
	background-position: 50%;
	height: 30px;
	width: 30px;
	/*margin-top: 17px;
	margin-bottom: 17px;*/
	margin-right: 2px;
	padding: 0px;
}

#chatCloseButton:hover {
	background-image: url('../asset/CloseChatWindowHover.svg');
}


#friendChatAvatarIcon {
	position: relative;
	width: 54px;
	height: 54px;
}

#friendChatAvatarIcon:hover {
	cursor: pointer;
}

.friendchatAvatar {
	width: 54px;
	height: 54px;
	z-index: 1;
}

.friendchaStatusIcon {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 16.14px;
	height: 16.14px;
	z-index: 1;
}

#chatUsername {
	color: #3772FF;
	flex-grow: 1;
	height: 30px;
	font-size: 22px;
	margin-left: 10px;
	white-space: nowrap;
	font-weight: normal;
	text-align: left;
	line-height: 24px;
	overflow: hidden;
	text-overflow: ellipsis;

}

.messageArea {
	width: 297px;
	height: 478px;
	margin-top: 16px;
	margin-left: 18px;
	border-radius: 20px;
	box-sizing: border-box;
	border: 2px solid #3772FF;
}

#sendTextArea {
	position: relative;
	margin-top: 14px;
	margin-left: 18px;
	width: 297px;
	height: 54px;
}

#writingTextArea {
	position: relative;
	width: 227px;
	height: 54px;
	border-radius: 20px;
	box-sizing: border-box;
	border: 2px solid #3772FF;
}

#writingTextArea input {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 187px;
	color: #3772FF;
	margin: 12px 20px;
}

#sendTextIcon {
	position: absolute;
	top: 0px;
	right: 0px;
	background-image: url('../asset/SendTextIcon_blue.svg');
	background-repeat: no-repeat;
	background-position: 50%;
	width: 54px;
	height: 54px;
}

#sendTextIcon:hover {
	background-image: url('../asset/SendTextIcon_red.svg');
}

.channel {
	display: flex;
	flex-direction: row;
	align-items: center;
	border: 2px solid #3772FF;
	color: #3772FF;
	border-radius: 20px;
	height: 54px;
	margin: 14px 0;
}

.channel:hover {
	border: 2px solid #E11515;
}

#channelAvatarIcon {
	position: relative;
	width: 40px;
	height: 40px;
	margin: 7px 15px 7px 18px;
	background-image: url('../asset/ChannelIcon.svg');
	background-repeat: no-repeat;
	background-position: 50%;
	border: none;
}

#channelName {
	color: #3772FF;
	min-width: 120px;
	font-size: 15px;
	font-weight: normal;
	white-space: nowrap;
	overflow-x: hidden;
}

#channel_buttons {
	display: flex;
	width: 75px;
	height: 36px;
	margin: 7px 18px 7px 7px;
}

#channelChat_button {
	width: 36px;
	height: 36px;
	background-image: url('../asset/ChatIcon_blue.svg');
	background-repeat: no-repeat;
	background-position: 50%;
}

#channelChat_button:hover {
	background-image: url('../asset/ChatIcon_red.svg');
}

#muteChannel {
	width: 36px;
	height: 36px;
	margin-right: 3px;
	background-image: url('../asset/muteIcon_blue.svg');
	background-repeat: no-repeat;
	background-position: 50%;
}

#muteChannel:hover {
	background-image: url('../asset/muteIcon_red.svg');
}

#unmuteChannel {
	width: 36px;
	height: 36px;
	margin-right: 3px;
	background-image: url('../asset/unmuteIcon_red.svg');
	background-repeat: no-repeat;
	background-position: 50%;
}

#unmuteChannel:hover {
	background-image: url('../asset/unmuteIcon_red.svg');
}

#channelSendRequest_buttons {
	width: 36px;
	height: 36px;
	margin-top: 9px;
	margin-left: 46px;
	margin-right: 18px;
	margin-bottom: 9px;
	background-image: url('../asset/AddFriendIcon_blue.svg');
	background-repeat: no-repeat;
	background-position: 50%;
}

#channelPassword {
	width: 202px;
	height: 36px;
	border-radius: 20px;
	border: 2px solid #3772FF;
	margin: 9px 18px 9px 0px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

#channelPassword:hover {
	border: 2px solid #E11515;
}

#channelPassword:focus {
	border: 2px solid #E11515;
}

#channelPassword input {
	width: 138px;
	color: #3772FF;
	font-size: 14px;
	font-weight: normal;
	margin-left: 18px;
	margin-right: 10px;
}

#confirmPassword {
	width: 32px;
	height: 32px;
	background-image: url('../asset/ConfirmPasswordIcon_blue.svg');
	background-repeat: no-repeat;
	background-position: 50%;
}

#confirmPassword:hover {
	background-image: url('../asset/ConfirmPasswordIcon_red.svg');
}

#channelColumnButton {
	position: absolute;
	background-image: url('../asset/ColumnIcon_blue.svg');
	background-repeat: no-repeat;
	background-position: 50%;
	height: 20px;
	width: 5px;
	padding: 0;
	top: 15px;
	right: 10px;
	border: none;
}

#channelColumnButton:hover {
	background-image: url('../asset/ColumnIcon_red.svg');
}

.checkbox_Channel {
	position: relative;
	margin-top: 9px;
	margin-right: 18px;
	margin-left: 62px;
	margin-bottom: 9px;
	height: 20px;
	width: 20px;
}

.checkbox_Channel label  {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	border: 1px solid #3772FF;
	cursor: pointer;
}

.checkbox_Channel label:hover {
	border: 1px solid #E11515;
}

.checkbox_Channel input[type="checkbox"] {
	visibility: hidden;
}

.checkbox_Channel input[type="checkbox"]:checked + label {
	background-color: #E11515;
	border-color: #E11515;
}

#checkbox_nextChannelButton {
	min-height: 48px;
	margin: 14px 18px 20px 18px;
	border: 2px solid #3772FF;
	border-radius: 20px;
	font-size: 14px;
	font-weight: normal;
	color: #3772FF;
}

#checkbox_nextChannelButton:hover {
	border: 2px solid #E11515;
	cursor: pointer;
}

#checkbox_nextChannelButton:active {
	background-color: #E11515;
}

.channelCreationSettings {
	min-height: 215px;
	margin-right: 18px;
	margin-left: 18px;
	overflow-y: scroll;
	overflow-x: hidden;
	border: none;
}

#checkbox_previousChannelButton {
	min-height: 48px;
	margin: 30px 18px 12px 18px;
	border: 2px solid #3772FF;
	border-radius: 20px;
	font-size: 14px;
	font-weight: normal;
	color: #3772FF;
}

#checkbox_previousChannelButton:hover {
	border: 2px solid #E11515;
	cursor: pointer;
}

#checkbox_previousChannelButton:active {
	background-color: #E11515;
}

#checkbox_createChannelButton {
	min-height: 48px;
	margin: 0px 18px 18px 18px;
	border: 2px solid #3772FF;
	border-radius: 20px;
	font-size: 14px;
	font-weight: normal;
	color: #3772FF;
}

#checkbox_createChannelButton:hover {
	border: 2px solid #E11515;
	cursor: pointer;
}

#checkbox_createChannelButton:active {
	background-color: #E11515;
}

.enterChannelName {
	border-radius: 20px;
	margin-right: 16px;
	margin-bottom: 4%;
	width: 80%;
	color: #3772FF;
	font-size: 15px;
}

.enterChannelName label {
	margin-bottom: 8px;
}

.enterChannelName input {
	border: 2px solid #3772FF;
	height: 48px;
	width: 100%;
	border-radius: 15px;
	margin-right: 17px;
	color: #3772FF;
	padding: 0px 20px;
}

.enterChannelName input::placeholder {
	color: rgb(66, 65, 65);
}

.checkbox_ChannelSettings {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 3%;
	color: #3772FF;
}

.checkbox_ChannelSettings label  {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	border: 1px solid #3772FF;
	cursor: pointer;
	margin-right: 3%;
}

.checkbox_ChannelSettings label:hover {
	border: 1px solid #E11515;
}

.checkbox_ChannelSettings input[type="radio"] {
	visibility: hidden;
}

.checkbox_ChannelSettings input[type="radio"]:checked + label {
	background-color: #E11515;
	border-color: #E11515;
}

.createChannelPassword {
	border-radius: 15px;
	margin-left: 4%;	
}

.createChannelPassword input {
	border: 2px solid #3772FF;
	height: 30px;
	width: 100%;
	border-radius: 15px;
	color: #3772FF;
	padding: 0px 20px;
}

/*
.checkbox_ChannelSettings {
	position: relative;
}

.checkbox_ChannelSettings label  {
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 5%;;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	border: 1px solid #3772FF;
	cursor: pointer;
}

.checkbox_ChannelSettings label:hover {
	border: 1px solid #E11515;
}

.checkbox_ChannelSettings input[type="checkbox"] {
	visibility: hidden;
}

.checkbox_ChannelSettings input[type="checkbox"]:checked + label {
	background-color: #E11515;
	border-color: #E11515;
}
*/

.errorPassword {
	border: 0.1px solid red;
	background-color: none;
	font-size: 12px;
	width: 60%;
}

.switchMode {
	display: flex;
	border: 2px solid #3772FF;
	justify-content: space-around;
	margin: 18px;
	height: 54px;
	color: #3772FF;
	border-radius: 25px;
}

.switchMode button {
	color: #3772FF;
}


.switchMode span{
	border: none;
	background-color: #C0F4FE;
	height: 100%;
}
