#bloc {
	margin: 0 40px;
}

.p5Canvas {
	border-radius: 25px;
}

input {
	border: none;
	background-color: transparent;
	outline: none;
	cursor: text;
}

::placeholder {
	color: #3772FF;
}

button {
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.errorPassword {
	border: 0.1px solid red;
	background-color: none;
	font-size: 12px;
	width: 60%;
}